.formulaire {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    height: 400px
  }
  
  .formulaire label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .summary_text {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .description_text {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    height: 150px;
    resize: none;
  }
  
  .formulaire button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .formulaire button[type="submit"]:hover {
    background-color: gray;
  }
